<h1>
<%= I18n.t('app.hello') %></h1>

<br>
<br>

<div class='cities'>
  <%= render partial: 'cities' %>
</div>

<br>
<br>

<div class='hotels'>
</div>

<br>
<br>

<div class='rooms'>
</div>

<br>
<br>

